@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* General rules */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #E8D4A3;
    margin: 0;
    padding: 0;
}

/* Navigation rules */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #2F191B;
    color: #E8D4A3;
    padding: 0.5rem 1rem;
    border-bottom: 3px solid #E2A946;
    z-index: 2;
    position: relative;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: #E2A946;
    letter-spacing: 0.2rem;
    text-decoration: none;
    margin-bottom: 1rem;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar-nav .nav-item {
    width: 100%;
}

.navbar-nav .nav-link {
    color: #E8D4A3;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
    display: block;
    text-align: center;
    text-decoration: none;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #E2A946;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Modal Styling */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #2F191B;
    color: #E8D4A3;
    margin: auto;
    padding: 20px;
    border: 1px solid #E2A946;
    width: 90%;
    max-width: 600px;
    border-radius: 8px;
}

.modal-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.modal-content p,
.modal-content ul {
    font-size: 1.1rem;
    line-height: 1.5;
}

.close {
    color: #E8D4A3;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #E2A946;
}

/* Play Container Styling */
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #E8D4A3;
    margin-top: 60px;
}

.play-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2F191B;
    color: #E8D4A3;
    border: 2px solid #E2A946;
    border-radius: 12px;
    padding: 20px;
    width: 70%;
    max-width: 600px;
    min-height: 350px;
    text-align: center;
    position: relative;
}

.play-container i {
    color: #E2A946;
    font-size: 4rem;
    margin: 0 0 10px 0;
    padding-bottom: 10px;
}

.play-container p {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #E8D4A3;
    margin-top: 5px;
}

/* Question and Options Styling */
.question {
    margin: 0;
    padding: 10px;
    text-align: left;
}

.question h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.question p {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 20px;
}

/* Options Styling */
.options-container {
    width: 100%;
}

.option {
    font-size: 1.4rem;
    margin: 10px 0;
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: left;
}

.option:hover {
    background-color: #E2A946;
    color: #2F191B;
}

/* Restart Button Styling */
#restartButton {
    font-size: 2rem;
    padding: 10px 20px;
    background-color: #E2A946;
    color: #2F191B;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
    text-align: center;
}

#restartButton:hover {
    background-color: #D19A3D;
}

#restartButton .material-symbols-outlined {
    margin-bottom: 5px;
}

/* Timer & Question Styling */
.question h3 {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    align-items: center;
}

.question-text {
    flex: 1;
    justify-content: right;
    align-self: auto;
}

.timer {
    font-size: 1.5rem;
    font-weight: bold;
    color: #E2A946;
    justify-content: space-between;
    display: flex;
}
/* Hide element */
.hidden {
    display: none;
}

/* Media Query for larger devices */
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-nav {
        flex-direction: row;
        width: auto;
        margin: 0;
    }

    .nav-item {
        width: auto;
    }

    .modal-content {
        width: 50%;
    }

    .play-container {
        width: 60%;
        min-height: 400px;
    }

    .play-container i {
        font-size: 5rem;
    }

    .play-container p {
        font-size: 2.2rem;
    }
}